.section{
	font-weight: bold;
}
#world{
	color: blue;
}
#health{
	color: limegreen;
}
#finance{
	color: orange;
}
#tech{
	color: darkgray;
}
.date{
	font: sans-serif;
	color: gray;
}
.object-fit_cover{
	object-fit: cover;
	width: 100%;
	height: 300px;
}
