@import "sample-post.css";
@import "types.css";

.container{
  display: grid;
  grid-template-columns: 10% 2fr 1fr 10%;
  grid-template-rows: 80px 1fr 100px;
  grid-template-areas: 
  "ls hd hd rs"
  "ls main rb rs"
  "ft ft ft ft";
  border: 2px solid yellow;
  grid-row-gap: 30px;
}
.header{
  grid-area: hd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid blue;
}
.leftside{
  grid-area: ls;
  border: 1px solid blue;
}
.content{
  grid-area: main;
  border: 1px solid blue;
}
.rightbar{
  grid-area: rb;
  border: 1px solid blue;
}
.rightside{
  grid-area: rs;
  border: 1px solid blue;
}
.footer{
  grid-area: ft;
  display: flex;
  border-top: 1px solid lightgray;
  background: rgb(250, 250, 250);
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: smaller;
  color: gray;
}
.about{
  background: rgb(250, 250, 250);
  padding: 10px;
  margin: 20px;
}

@media(max-width: 500px){
.container{
  display: grid;
  grid-template-columns: 1% 1fr 1%;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: 
  "ls hd rs"
  "ls main rs"
  "ft ft ft";
  /*border: 2px solid yellow;*/
  grid-gap: 20px;
}