@import "types.css";

.container{
  display: grid;
  grid-template-columns: 10% 2fr 1fr 10%;
  grid-template-rows: 80px 1fr 100px;
  grid-template-areas: 
  "ls hd hd rs"
  "ls main rb rs"
  "ft ft ft ft";
  grid-row-gap: 30px;
}
header{
  grid-area: hd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.leftside{
  grid-area: ls;
}
article{
  grid-area: main;
  display: flex;
  flex-direction: column;  
  /*align-items: center;*/
  justify-content: center;
}
.rightbar{
  grid-area: rb;
}
.rightside{
  grid-area: rs;
}
footer{
  grid-area: ft;
  display: flex;
  border-top: 1px solid lightgray;
  background: rgb(250, 250, 250);
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: smaller;
  color: gray;
}
.about{
  background: rgb(250, 250, 250);
  padding: 10px;
  margin: 20px;
}
.archives{
  padding: 10px;
  margin: 20px;
}
.author{
  display: flex;
  flex-direction: row;
  background: rgb(250, 250, 250);
  border-radius: 10px;
  padding-right: 30px;
  margin: 0px;
  align-items: center;
  justify-content: space-around;
}
#author-description {
}
.avatar {
	 border-radius: 50%;
	 height: 200px;
	 width: 200px;
	 object-fit: cover;
	 overflow: hidden;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
.object-fit_cover{
	object-fit: cover;
	width: 100%;
	height: 300px;
}
.blue-button{
  background-color: #32CD32;
  border-color: #57a957;
  text-align:center;
  font: bold 13px arial, helvetica, sans-serif;
  color: #FFF;
  border-radius: 5px;
}

@media(max-width: 900px){
.container{
  display: grid;
  grid-template-columns: 1% 1fr 1%;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: 
  "ls hd rs"
  "ls main rs"
  "ls rb rs"
  "ft ft ft";
  grid-gap: 20px;
}