body {
    font: 13px Arial, sans-serif;
}
a:link {
	text-decoration: none;
}
h2 {
    /*padding: 0px;*/
    margin: 0px;
}
p {
	text-align: justify;
	text-justify: inter-word;
}
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
figure figcaption {
    text-align: center;
}